@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0; /* font-family: "Poppins", sans-serif !important; */
}
body {
	padding: 10px 40px !important;
}
.text-justify {
	text-align: justify !important;
}
.notebook-title {
	font-family: "Poppins", sans-serif;
	text-align: center;
	h3 {
		font-size: 40px;
		color: #021280;
		text-transform: capitalize;
	}
}
.submitted-section {
	display: flex;
	justify-content: space-between;
	background-color: rgba(211, 211, 211, 0.389);
	padding: 10px 25px;
	margin: 20px 0;
	border-radius: 5px;
	ol {
		li {
			margin-bottom: 3px;
			font-weight: 700;
		}
	}
	.submitted-by-text {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 5px;
	}
	.submitted-to {
		p {
			text-align: center;
		}
	}
}
.introduction {
	padding: 20px 30px;
	background-color: rgba(211, 211, 211, 0.389);
	margin: 20px 0;
	font-family: "Poppins", sans-serif !important;
	border-radius: 5px;

	.introduction-title {
		text-align: center;
		font-size: 25px;
		margin-bottom: 10px;
	}
	.introduction-list {
		li {
			margin-bottom: 6px;
		}
		.sublist {
			.sublist-order {
				li {
					margin-left: 30px;
					margin-bottom: 3px;
				}
			}
		}
	}
}

.summary {
	padding: 20px 30px;
	background-color: rgba(211, 211, 211, 0.389);
	margin: 20px 0;
	font-family: "Poppins", sans-serif !important;
	border-radius: 5px;

	.summary-title {
		text-align: center;
		font-size: 25px;
		margin-bottom: 10px;
	}
}
